<ion-view view-title="Agenda App">
  <ion-content class="padding">
    <h2>Benvinguts a la Agenda de cursos del Punt Multimèdia</h2>

    <div class="iniciLogo">
      <img src="img/FAB_Web.png">
    </div>
    <p>
     Hola, {{nombre}}
    </p>
    <p>
      Aquesta és la pàgina principal de la nostra aplicació. Per canviar el codi font, modifiqueu les plantilles html que trobareu a <code>www/templates/</code>. Aquest template és <code>www/templates/tab-dash.html</code>
    </p>

  </ion-content>
</ion-view>
